#navbar {
	position: fixed;
	margin-top: -5px;
	display: inline-block;
	list-style-type: none;
}

li {
	border-radius: 5px;
	font-family: sans-serif;
	font-size: 2em;
	color: #ffffff;
	background-color: #4863a0;
}

#body {
	margin-top: 20px;
}