#navbar {
	position: fixed;
	margin-top: 5px;
	display: inline-block;
}

li {
	border-radius: 5px;
	font-family: sans-serif;
	font-size: 2em;
	color: #ffffff;
	background-color: #aaffee;
}

#body {
	margin-top: 20px;
}